<div class="row">
  <div class="col-8 m-auto container-fluid text-center mt-5">
    {{> messages}}
    <h3 class="text-info">
      The URL is existed !
    </h3>
    <h4 class="text-success">
      Visit your website at
    </h4>
    <h4><a href="{{url.name}}">{{Url}}</a></h4>
  </div>
</div>
