<div class="row">
  <div class="col-8 m-auto container-fluid text-center mt-5">
    <h4 class="text-success">
      Link shortening successful! Visit your website at
    </h4>
    <h4><a href="{{url.name}}">{{newUrl}}</a></h4>
  </div>
</div>